.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints/

# Complete simulated FITS datasets
Simulated Data/111111/0_1/*.fits
Simulated Data/111111/1_0/*.fits
Simulated Data/111112/0_1/*.fits
Simulated Data/111112/1_0/*.fits
Simulated Data/111113/0_1/*.fits
Simulated Data/111113/1_0/*.fits
Simulated Data/111114/0_1/*.fits
Simulated Data/111114/1_0/*.fits

Simulated Data/*/Output_Figs/ratio_best_fit_models.csv

# Large intermediate pixel-level tables
*/Output_Figs/ratio_best_fit_models.csv
